<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex">
<meta name="revisit-after" content="15 days">
<meta name="msapplication-TileImage" content="{{"mstile-144x144.png" | relURL}}">
<link rel="icon" href="car.png" type="image/x-icon">
{{ with .Site.Params.themeColor -}}
<meta name="theme-color" content="{{.}}">
<meta name="msapplication-TileColor" content="{{.}}">
{{- end -}}
